.hover:hover{
  
    border:2px solid black;

}
.inputBackColor{
    height: 2rem;
   outline-style: none;
   padding-left: 1rem;
}
.list{
    list-style: none;
}
.listbox{
    border: 2px solid black;
    width: 70%;
   margin-left: 10%;
}
